NEXT_PUBLIC_LOGINRADIUS_API_KEY=your-api-key
NEXT_PUBLIC_LOGINRADIUS_SOTT=your-sott
NEXT_PUBLIC_LOGINRADIUS_VERIFICATION_URL=https://your-tenant.example.com/auth.aspx
NEXT_PUBLIC_LOGINRADIUS_RESET_PASSWORD_URL=https://your-tenant.example.com/auth.aspx
NEXT_PUBLIC_LOGINRADIUS_CALLBACK_URL=http://localhost:3000
NEXT_PUBLIC_LOGINRADIUS_LOCALIZATION=true
